.task {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.task-div {
  display: flex;
  gap: 5px;
}

.dots {
  height: 20px;
}
