@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #243d25;
}

body {
  border-color: #f6f6f6;
  background-color: #fad9e6;
}

.container {
  width: 70%;
  padding: 20px;
  box-shadow: 0 0 5px #243d25;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.task-div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 95%;
  background-color: transparent !important;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.newItem {
  padding-left: 20px;
  width: 100%;
  font-style: italic;
  border: none;
  outline: none;
  overflow: hidden;
  resize: none;
  font-size: 1rem;
  background-color: #fad9e6;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.refresh {
  align-self: flex-end;
}

.clearBtn {
  width: 100%;
  padding: 20px;
  font-weight: 900;
}

.submitBtn {
  padding: 10px;
  background: #5f746452;
  border: none;
  border-radius: 4px;
  color: #243d25;
  font-size: 20px;
}

.bb {
  border-bottom: 2px solid #243d2565;
}

.mb {
  margin-bottom: 10px;
}

.btnColor {
  background-color: #243d258e;
  border-radius: 10px;
}

.selected {
  background: #773e3ea9;
}

#completed {
  margin-right: 10px;
}

.strike {
  text-decoration: line-through;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
  color: #5f7464;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}

.button--nuka {
  margin: 1em 2em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--nuka.button--inverted {
  color: #37474f;
}

.button--nuka::before,
.button--nuka::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: #243d25;
  z-index: -1;
}

.button--nuka::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--nuka::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
  background: #243d25;
}

.button--nuka:hover {
  color: #243d25;
}

.button--nuka:hover::before {
  opacity: 1;
}

.button--nuka:hover::after {
  background-color: #5f7464;
}

.button--nuka.button--inverted:hover::after {
  background-color: #5f7464;
}

.button--nuka:hover::after,
.button--nuka:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
